In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mplt

In [31]:
train = pd.read_csv("data/train.csv")
train.head()

    x          y
0  24  21.549452
1  50  47.464463
2  15  17.218656
3  38  36.586398
4  87  87.288984

In [32]:
x= train['x'].tolist()
y= train['y'].tolist()

In [33]:
def mean(values):
    return sum(values)/float(len(values))

In [34]:
def variance(values,mean):
    return sum([(x-mean)**2 for x in values])

In [39]:
def covariance(x, mean_x, mean_y):
    covar = 0.0
    for i in range(len(x)):
        covar+= (x[i]-mean_x) * (y[i]-mean_y)
    return covar

In [40]:
mean_x = mean(x)
mean_y = mean(y)

In [41]:
var_x, var_y = variance(x,mean_x), variance(y,mean_y)
covarr = covariance(x,mean_x,mean_y)
print(covarr)

585860.5545756883

In [37]:
print("mean_x",mean_x)
print("mean_y",mean_y)

mean_x 49.99285714285714
mean_y 49.91160845617139

In [38]:
print("variance",var_x)
print("variance",var_y)

variance 585404.9642857142
variance 591838.6593366332